{{!-- views/auth/signup.hbs --}}
 
<div id="form">
  <h2>Signup</h2>
  <form action="/signup" method="POST">
 
    <label> Name
      <input type="text" name="name" placeholder="happy fiancé" />
    </label>
 
    <label> Email
      <input type="email" name="email" placeholder="wedding@couple.com" />
    </label>
 
    <label> Password
      <input type="password" name="password" placeholder="********" />
    </label>
 
    <button type="submit">Create account</button>
    
    {{#if errorMessage}}
        <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>
</div>
