<h2>Add Wedding Event</h2>

<form action="/wedding/create" method="post">

    <label for="name">Name</label>
    <input id="name" type="text" name="name">

    <label for="description">Description</label>
    <input id="description" type="text" name="description">

    <label for="imageUrl">Image</label>
    <input id="imageUrl" type="text" name="imageUrl">

    <label for="location">Location</label>
    <input id="location" type="text" name="location">

    <label for="date">Date</label>
    <input id="date" type="date" name="date" value="2023-07-19">
    
    <label for="time">Time</label>
    <input id="time" type="time" name="time">

    <button type="submit">Create Wedding</button>

</form>