<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <ul>
        <li>
          <p><a href="/"> Home Page</a></p>
        </li>
        <li>
          <p><a href="/userProfile">Profile</a></p>
        </li>
        <li>
          <p><a href="/signup">Signup</a></p>
        </li>
        <li>
          <p><a href="/login">Login</a></p>
        </li>
        <li>
          <p><a href="/logout">Logout</a></p>
        </li>
        
      </ul>
    </nav>
    {{{body}}}

    <script src="/routes/wedding.js"></script>
    <script src="/routes/gift.js"></script>
 
  </body>