<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <ul>
        <li id="home">
          <p><a href="/"> Home Page</a></p>
        </li>
        <li id="singup">
          <a href="/signup">Signup</a>
        </li>
      </ul>
    </nav>
    {{{body}}}
    <script src="/js/script.js"></script>
  </body>